.section {
    padding: 3%;
    width: 98%;
    background-color: aliceblue;
    margin: 2% 1%;
}
h2.angdata {
  color: brown;
}
.d-flex.justify-content-center {
  margin-left: 14%;
  margin-bottom: 2%;
}
