<div class="section">

  <h3>ReactData</h3>
  <div class="container" id="search">
    <form class="form-inline mr-auto ">
    <input
    class="form-control "

    type="text"
    placeholder="Search for record"
    aria-label="Search"

    name="n1"
    [(ngModel)]="searchstr"
    id="search-box-round"
    />
    </form>
    </div>
  <table class="table table-striped table-hover">
    <thead>
      <th>USER EMAIL</th>
      <th>USER NAME</th>
      <th>USER PASSWORD</th>
      <th>USER MOBILE</th>
      <th>ACTIONS</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of arr | grdFilter : {user_name : searchstr} | paginate : config">
        <td>{{item.user_email}}</td>
        <td>{{item.user_name}}</td>
        <td>{{item.user_password}}</td>
        <td>{{item.user_mobile_no}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="onRemove(item)">Delete</button>&nbsp;
          <button type="button" class="btn btn-primary"(click)="onEdit(item)">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
