.section1{

  width: 50%;
  margin: 2% auto;
  border: 2px solid cadetblue;
  border-radius: 20px;
}

form{
  margin: 2% 2%;
}
  h4{
    text-align: center;
    color: darkmagenta;
  }

  .buttons{
    text-align: center;
  }
